{% extends "layout.jinja" %}
{% block headers %}
    <link rel="stylesheet" href="{{url_for('static', filename="styles/about.css")}}">
{% endblock headers %}
{% block content %}
    <div class="background">
        <div class="row">
            <div class="col-lg-6">
            <h2>Consectetur amet repudiandae exercitationem facilis distinctio consequuntur, accusamus Ex dolor corrupti</h2>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
{% endblock content %}
