{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/account.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/tag.css')}}">
{% endblock headers %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile-details">
            <div class="image-container">
            <img class="profile-picture"
            src="{{ url_for('static', filename="profile-pictures/" + user.image_file) }}"
            alt="Profile Image" >
            </div>
            <div class="info">
                <h3>{{user.username}}</h3>
                <span class=text-muted>{{user.email}}</span>
                <a>{{user.github}}</a>
                <a>{{user.linkedin}}</a>
                <a>{{user.personal_site}}</a>
            </div>
            <div class="tag-container">
            {% if user.skills %}
                {% for skill in user.skills.split(',') %}
                    <div class="tag"><span>{{skill}}</span></div>        
                {% endfor %}
            {% endif %}
            </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row bio-row">
                <div class="bio">
                    {{user.bio}}
                </div>
            </div>
            <div class="row teams-row">
                <div class="my-teams">
                    <h2>My Teams:</h2>
                {% if not teams %}
                    <p>You have not joined any teams yet!</p>                    
                    <a href="{{url_for('teams.search_team')}}">Look for teams Here</a>
                {% endif %}
                {% for team in teams %}
                    <div class="team-cont">
                    <div class="row">
                        <div class="col-3">
                            <img
                              src="{{ url_for('static', filename="team-pictures/" + team.image_file) }}"
                              alt="Team Image">
                        </div>
                        <div class="col-9">
                            <span class='team-uuid'>{{team.id[-7:]}}</span>
                            <h3 class="">{{team.name}}</h3>
                            <span class='about'>{{team.about}}</span>
                            <div class="tag-container">
                            {% if team.tags %}
                                {% for tag in team.tags.split(',') %}
                                    <div class="tag"><span>{{tag}}</span></div>        
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}
