{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/account.css')}}">
{% endblock headers %}

{% block content %}
    <div class="container">
        <section class="top-header">
            <div class="row">
                <div class="col-lg-auto">
                    <img
                    class=""
                    src="{{ url_for('static', filename="profile-pictures/" + current_user.image_file) }}"
                    alt="Profile Image"
                    >
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                <div class="items">
                    <div class="row">
                    <span class='username'>{{current_user.username}}</span> 
                    </div>
                    <div class="row">
                    <span class='email'>{{current_user.email}}</span>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class='user-content'>
        <div class="tag-container">
            {% for skill in current_user.skills.split(',') %}
                <div class="tag">
                <span>{{skill}}</span>
                </div>
            {% endfor %}
        </div>
        <div class="links">
        <a href="{{current_user.github}}">{{current_user.github}}</a>
        <br>
        <a href="{{current_user.linkedin}}">{{current_user.linkedin}}</a>
        <br>
        <a href="{{current_user.personal_site}}">{{current_user.personal_site}}</a>
        <br>
        </div>
            <a class='btn btn-lg btn-outline-info' href="{{url_for('users.edit_account')}}">Edit Profile</a>
        </section>
    </div>
{% endblock content %}
