{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/forms.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/edit-account.css')}}">
{% endblock headers %}

{% block content %}
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                {{ form.picture.label(class="form-control-label") }} <br>
                <div class="boxoutline">
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                </div>
                <div class="form-group">
                        {{ form.skills.label(class="form-control-label") }}
                        <div class='tag-container'>
                        {% if skills %}
                        <div id="initial-tags">
                        {% for skill in skills %}{{skill}},{% endfor %}
                        </div>
                        {% endif %}
                    {% if form.skills.errors %}
                        {{ form.skills(class="form-control form-control-large is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.skills.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.skills(class="form-control form-control-large") }}
                    {% endif %}
                        </div>
                      {# <br /> #}
                      {# <div class="tag-container"> #}
                      {#   <input  /> #}  
                      {# </div> #}
                </div>
                <div class="form-group">
                    {{ form.github.label(class="form-control-label") }}
                    {% if form.github.errors %}
                        {{ form.github(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.github.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.github(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.linkedin.label(class="form-control-label") }}
                    {% if form.linkedin.errors %}
                        {{ form.linkedin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.linkedin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.linkedin(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.personal.label(class="form-control-label") }}
                    {% if form.personal.errors %}
                        {{ form.personal(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.personal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.personal(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bio.label(class="form-control-label") }}
                    {% if form.bio.errors %}
                        {{ form.bio(class="form-bio form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bio(class="form-bio form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            {# <div class="form-group"> #}
            {#     {{ form.submit(class="btn btn-outline-info btn-update") }} #}
            {# </div> #}
            <button id='update-btn' class="btn btn-outline-info btn-update">Update</button>
        </form>
    </div>
    <script src="{{url_for('static', filename='js/tags.js')}}"></script>
{% endblock content %}
