{% extends "layout.jinja" %}

{% block headers %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/forms.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/tag.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/edit-team.css')}}">
{% endblock headers %}

{% block content %}
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Team</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">                     
                    {{ form.about.label(class="form-control-label") }}
                    {% if form.about.errors %}
                        {{ form.about(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.about.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.about(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group"> 
                {{ form.image_file.label(class="form-control-label") }} <br>
                <div class="boxoutline">
                    {{ form.image_file(class="form-control-file") }}
                    {% if form.image_file.errors %}
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                </div>
                <div class="form-group">
                        {{ form.tags.label(class="form-control-label") }}
                        <div class='tag-container'>
                        {% if tags %}
                        <div id="initial-tags">
                        {% for tag in tags %}{{tag}},{% endfor %}
                        </div>
                        {% endif %}
                    {% if form.tags.errors %}
                        {{ form.tags(class="form-control form-control-large is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tags.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.tags(class="form-control form-control-large") }}
                    {% endif %}
                        </div>
                      {# <br /> #}
                      {# <div class="tag-container"> #}
                      {#   <input  /> #}  
                      {# </div> #}
                </div>
                <div class="form-group">
                    {{ form.github.label(class="form-control-label") }}
                    {% if form.github.errors %}
                        {{ form.github(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.github.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.github(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.discord.label(class="form-control-label") }}
                    {% if form.discord.errors %}
                        {{ form.discord(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.discord.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.discord(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.bio.label(class="form-control-label") }}
                    {% if form.bio.errors %}
                        {{ form.bio(class="form-bio form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bio(class="form-bio form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            {# <div class="form-group"> #}
            {#     {{ form.submit(class="btn btn-outline-info btn-update") }} #}
            {# </div> #}
            <button id='update-btn' class="btn btn-outline-info btn-update">Update</button>
        </form>
    </div>
    <script src="{{url_for('static', filename='js/tags.js')}}"></script>
{% endblock content %}
