<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>CodeArena</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap 5 CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
    {% block headers %}
    {% endblock headers %}
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('main.home')}}">CodeArena</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.about') }}">About</a>
          </li>
          {% if current_user.is_authenticated %}
              <li class="nav-item mobile-content">
              <a class="nav-link active" aria-current="page" href="{{ url_for('users.logout') }}">Logout</a>
              </li>
              <li class="nav-item mobile-content">
              <a class="nav-link active" aria-current="page" href="{{ url_for('users.account') }}">
                {{ current_user.username }}
              </a>
              </li>
          {% endif %}
        </ul>
              {% if current_user.is_authenticated %}
          <div class="desktop-content">
              <div class="user-image nav-item dropdown">
                <img
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  src="{{ url_for('static', filename="profile-pictures/" + current_user.image_file) }}"
                  alt="Profile Image"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('users.logout')}}">Logout</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="{{url_for('users.account')}}">{{ current_user.username }}</a></li>
                </ul>
              </div>
          </div>
          {% else %}
        <ul class="navbar-nav d-flex me-1 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('users.register')}}">Register</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('users.login')}}">Login</a> </li>
        </ul>
          {% endif %}
      </div>
    </div>
  </nav>
  <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
  </div>
    {% block content %}
    {% endblock content %}

    <h3 id="result"></h3>
    <!-- Bootstrap 5 JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src={{url_for('static', filename='js/handleNavBarImage.js')}}></script>
  </body>
</html>
