body {
  background-color: var(--gray);
  color: var(--white);
}
.profile-details {
  border: 1px solid var(--white);
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}

.profile-picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.image-container {
  text-align: center;
}

.info h3 {
  margin-top: 1em;
  margin-left: 0.2em;
}

.info span,
.info a {
  padding: 0.5em;
  display: block;
}

.bio {
  border: 1px solid var(--white);
  border-radius: 5px;
  margin-top: 1em;
  height: 400px;
}

.my-teams {
  padding: 0;
  margin-top: 1em;
  height: 100%;
}

.my-teams h2 {
  margin-left: 0.5em;
  font-size: 2em;
}
.team-cont {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.team-cont img {
  display: inline block;
  margin: 1em 1em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.team-cont h3 {
  font-size: 2em;
}
.team-uuid {
  display: block;
  margin-left: auto;
  text-align: right;
  font-size: 0.8em;
}
