.container {
  margin-top: 5em;
}

.inner-container {
  height: 700px;
}

.profile-info {
  padding: 2em;
  border: red 1px solid;
}

body {
  height: 5000px;
}

.my-teams {
  padding: 2em;
  border: red 1px solid;
  height: 100%;
}
@media (min-width: 992px) {
  .my-teams {
    margin-left: 2em;
  }
}
.image-container {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.image-container img {
  width: 200px;
}

.team-cont {
  border: solid red 1px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.team-cont img {
  display: inline block;
  margin: 1em 1em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.team-cont h3 {
  font-size: 2em;
}
.team-uuid {
  display: block;
  margin-left: auto;
  text-align: right;
  font-size: 0.8em;
}

.new-team {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  font-size: 3em;
  border: limegreen 2px solid;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 5px #aaa;
}

.new-team:hover {
  background-color: limegreen;
}
