.background {
  background-color: var(--gray);
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.internal-container {
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5em 3em;
}

.form-control-label {
  margin-top: 1em;
}

.form-check {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn {
  margin-right: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.btn-register {
  margin-top: 2em;
}
.btn-update {
  margin-top: 1em;
}

form {
  padding: 2rem;
}
